@charset "UTF-8";
html {
  font-size: 62.5%;
  color: #333;
  font-family: "Yu Gothic UI";
}
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

.flex {
  display: flex;
}
@media (max-width: 768px) {
  .flex {
    display: block;
  }
}

p[class*=desc] {
  font-size: 16px;
}

html {
  font-size: 62.5%;
  color: #333;
  font-family: "Yu Gothic UI";
}
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

.flex {
  display: flex;
}
@media (max-width: 768px) {
  .flex {
    display: block;
  }
}

p[class*=desc] {
  font-size: 16px;
}

#header1 {
  position: fixed;
  z-index: 9999;
  width: 100%;
}

header {
  height: 80px;
  padding: 0 60px;
  background: #FBF6EE;
  position: relative;
  z-index: 999;
}
@media (max-width: 900px) {
  header {
    padding: 0 20px;
  }
}
header .header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.header_logo {
  width: 100px;
}
.header_logo img {
  width: 100%;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 768px) {
  .nav-list {
    position: fixed;
    display: block;
    top: -800px;
    right: 0;
    width: 100%;
    height: inherit;
    background: #fbf6ef;
    font-size: 16px;
    box-sizing: border-box;
    z-index: 1;
    transition: 0.9s;
  }
  .nav-list.open {
    top: 80px;
  }
}
.nav-list .nav-item {
  position: relative;
}
.nav-list .nav-item::before {
  transform-origin: center top;
  transform: scale(0, 1);
  background: #1fa958;
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  transition: all 0.3s 0s ease;
}
@media (max-width: 768px) {
  .nav-list .nav-item::before {
    transform: scale(1, 1);
    content: "";
  }
}
.nav-list .nav-item:hover::before {
  transform-origin: center top;
  transform: scale(1, 1);
}
.nav-list .nav-item:not(:last-child) {
  padding: 10px 0;
}
@media (max-width: 768px) {
  .nav-list .nav-item:not(:last-child) {
    padding: 30px 20px;
  }
}
.nav-list .nav-item a {
  font-size: 1.6rem;
  color: #1fa958;
  transition: all 0.3s 0s ease;
}
.nav-list .nav-item a:hover {
  font-weight: bold;
}
.nav-list .nav-contact {
  background-color: #1fa958;
  border-radius: 50rem;
  padding: 15px 30px;
  transition: all 0.3s 0s ease;
}
.nav-list .nav-contact a {
  color: white;
}
.nav-list .nav-contact::before {
  content: none;
}
.nav-list .nav-contact:hover {
  background-color: rgba(31, 169, 88, 0.8);
  font-weight: bold;
}
@media (max-width: 768px) {
  .nav-list .nav-contact {
    margin: 30px 20px;
    text-align: center;
  }
}

.header_sp-menubtn {
  display: none;
  position: absolute;
  top: 30px;
  right: 20px;
  width: 30px;
  height: 24px;
  z-index: 9999;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
@media (max-width: 768px) {
  .header_sp-menubtn {
    display: block;
  }
}
.header_sp-menubtn span {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #333;
  border-radius: 10px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
.header_sp-menubtn span:nth-child(1) {
  top: 0;
}
.header_sp-menubtn span:nth-child(2) {
  top: 10px;
}
.header_sp-menubtn span:nth-child(3) {
  top: 20px;
}
.header_sp-menubtn.open span:nth-child(1) {
  background: #333;
  top: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header_sp-menubtn.open span:nth-child(2) {
  display: none;
}

.header_sp-menubtn.open span:nth-child(3) {
  top: 6px;
  background: #333;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: 0.9s;
}

.fv-container {
  height: 600px;
}
.fv-container img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  object-position: top;
}

.nabOpen-bg.hamburger-bg-cover {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9997;
  background: rgba(3, 3, 3, 0.5);
  display: block;
}

html {
  font-size: 62.5%;
  color: #333;
  font-family: "Yu Gothic UI";
}
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

.flex {
  display: flex;
}
@media (max-width: 768px) {
  .flex {
    display: block;
  }
}

p[class*=desc] {
  font-size: 16px;
}

.w-nav {
  height: 80px;
  padding: 0 60px;
  background: #F5F8FA;
}
@media (max-width: 900px) {
  .w-nav {
    padding: 0 20px;
    position: fixed;
    width: 100%;
  }
}
.w-nav .w-nab-wrapper {
  display: flex;
  align-items: center;
  height: inherit;
}

.w-nab-logo-link {
  width: 100px;
  display: block;
}
.w-nab-logo-link img {
  width: 100%;
}

.w-nav-navmenu {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .w-nav-navmenu {
    position: fixed;
    display: block;
    top: 80px;
    right: 0;
    width: 100%;
    height: inherit;
    background: #F5F8FA;
    box-sizing: border-box;
    z-index: 1;
    transition: 0.9s;
    opacity: 0;
  }
  .w-nav-navmenu.open {
    opacity: 1;
  }
}
.w-nav-navmenu .nav-list-header2 {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .w-nav-navmenu .nav-list-header2 {
    display: block;
    background-color: #F5F8FA;
  }
}
.w-nav-navmenu .nav-list-header2 .nav-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 40px;
  font-size: 1.6rem;
}
@media (max-width: 768px) {
  .w-nav-navmenu .nav-list-header2 .nav-item {
    display: block;
    border-bottom: 1px solid #333;
    margin: 0 20px;
    padding: 30px 0;
    justify-content: space-between;
  }
}
.w-nav-navmenu .nav-list-header2 .nav-item::before {
  content: unset;
}
.w-nav-navmenu .nav-list-header2 .nav-item .nav-item-arrow {
  padding-left: 8px;
  position: relative;
}
.w-nav-navmenu .dropdown-menu-img-arrow {
  position: absolute;
  top: -10px;
  left: 0;
}
@media (max-width: 768px) {
  .w-nav-navmenu .dropdown-menu-img-arrow {
    display: none;
  }
}
.w-nav-navmenu .nav-dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.w-nav-navmenu .nav-dropdown-toggle .header-navmenu-arrow-svg {
  transition: 0.5s all;
}
.w-nav-navmenu .nav-dropdown-toggle.is-active .header-navmenu-arrow-svg {
  transform: rotateX(180deg);
}
.w-nav-navmenu .nav-dropdown-list {
  position: absolute;
  top: 100px;
  min-width: 200px;
  background-color: white;
  border-radius: 10px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  opacity: 0;
}
@media (max-width: 768px) {
  .w-nav-navmenu .nav-dropdown-list {
    display: none;
    opacity: 1;
  }
}
.w-nav-navmenu .nav-dropdown-list.is-open {
  opacity: 1;
}
@media (max-width: 768px) {
  .w-nav-navmenu .nav-dropdown-list.is-open {
    display: block;
  }
}
@media (max-width: 768px) {
  .w-nav-navmenu .nav-dropdown-list {
    position: relative;
    width: 100%;
    background-color: unset;
    top: 0;
  }
}
.w-nav-navmenu .nav-dropdown-list .nav-dropdown-inner {
  padding: 30px;
}
@media (max-width: 768px) {
  .w-nav-navmenu .nav-dropdown-list .nav-dropdown-inner {
    padding: 20px;
  }
}
.w-nav-navmenu .nav-dropdown-list a {
  display: block;
  color: #333;
  white-space: nowrap;
  margin-bottom: 16px;
}
.w-nav-navmenu .nav-dropdown-list a:last-child {
  margin-bottom: 0;
}
.w-nav-navmenu .nav-dropdown-list a::before {
  content: "●";
  color: #2F5DB5;
  padding-right: 8px;
}
.w-nav-navmenu .nav-dropdown-list .dropdown-inner2 a::before {
  color: #53D0F0;
}
.w-nav-navmenu .nav-dropdown-list .dropdown-inner3 a::before {
  color: #25C185;
}
.w-nav-navmenu .login-link {
  margin-right: 16px;
}
@media (max-width: 768px) {
  .w-nav-navmenu .login-link {
    margin-right: 0;
    padding: 15px 0;
    border: 1px solid #333;
    border-radius: 50rem;
  }
}
.w-nav-navmenu .nav-login-link {
  font-size: 1.6rem;
  width: 43%;
  text-align: center;
}
.w-nav-navmenu .trial-link {
  font-size: 1.6rem;
  background-color: #FFA800;
  border-radius: 50rem;
  padding: 20px 30px;
}
@media (max-width: 768px) {
  .w-nav-navmenu .trial-link {
    padding: 15px 0;
  }
}

@media (max-width: 768px) {
  .nav-login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    z-index: 1;
    gap: 30px;
    left: 50%;
    padding: 30px 0;
    width: 100%;
    top: 410px;
  }
}

.header-spmenu-wrapper {
  position: relative;
}
.header-spmenu-wrapper .sp-menubtn-text {
  display: none;
}
@media (max-width: 768px) {
  .header-spmenu-wrapper .sp-menubtn-text {
    display: block;
    position: absolute;
    top: -54px;
    right: 50px;
    z-index: 1;
  }
}
.header-spmenu-wrapper .header_sp-menubtn {
  top: -50px;
  height: 13px;
  right: 0;
}
.header-spmenu-wrapper .header_sp-menubtn.open span:nth-child(2) {
  display: block;
  top: 6px;
  background: #333;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: 0.9s;
}

html {
  font-size: 62.5%;
  color: #333;
  font-family: "Yu Gothic UI";
}
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

.flex {
  display: flex;
}
@media (max-width: 768px) {
  .flex {
    display: block;
  }
}

p[class*=desc] {
  font-size: 16px;
}

.header3-wrapper {
  height: 80px;
  padding: 0 60px;
  background: #F5F8FA;
}
@media (max-width: 900px) {
  .header3-wrapper {
    padding: 0 20px;
    position: fixed;
    width: 100%;
  }
}
.header3-wrapper .header3-container {
  display: flex;
  align-items: center;
  height: inherit;
}

.header3-logoLink {
  width: 100px;
  display: block;
}
.header3-logoLink img {
  width: 100%;
}

.header3-w-navmenu {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 768px) {
  .header3-w-navmenu {
    position: fixed;
    display: block;
    top: -800px;
    right: 0;
    width: 100%;
    height: inherit;
    background: #F5F8FA;
    box-sizing: border-box;
    z-index: 1;
    transition: 0.9s;
    opacity: 1;
  }
  .header3-w-navmenu.open {
    top: 80px;
  }
}
.header3-w-navmenu .w-navmenu-container {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .header3-w-navmenu .w-navmenu-container {
    display: block;
    background-color: #F5F8FA;
    height: 100vh;
  }
}
.header3-w-navmenu .w-navmenu-container .w-navmenu-item {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header3-w-navmenu .w-navmenu-container .w-navmenu-item:not(:first-child) {
  padding-left: 40px;
}
@media (max-width: 768px) {
  .header3-w-navmenu .w-navmenu-container .w-navmenu-item {
    display: block;
    border-bottom: 1px solid #333;
    margin: 0 20px;
    padding: 30px 0;
    justify-content: space-between;
  }
  .header3-w-navmenu .w-navmenu-container .w-navmenu-item:not(:first-child) {
    padding-left: 0;
  }
}
.header3-w-navmenu .w-navmenu-container .w-navmenu-item::before {
  content: unset;
}
.header3-w-navmenu .w-navmenu-container .w-navmenu-item .nav-item-arrow {
  padding-left: 8px;
  position: relative;
}
.header3-w-navmenu .w-navmenu-container .sp-trialLink-wrapper {
  display: none;
}
@media (max-width: 768px) {
  .header3-w-navmenu .w-navmenu-container .sp-trialLink-wrapper {
    margin: 50px 20px;
    display: block;
    padding: 20px 0;
    text-align: center;
    border: 1px solid #FFA800;
    border-radius: 50rem;
    background-color: #FFA800;
  }
  .header3-w-navmenu .w-navmenu-container .sp-trialLink-wrapper a {
    font-size: 14px;
  }
}
.header3-w-navmenu .dropdown-menu-img-arrow {
  position: absolute;
  top: -10px;
  left: 0;
}
@media (max-width: 768px) {
  .header3-w-navmenu .dropdown-menu-img-arrow {
    display: none;
  }
}
.header3-w-navmenu .nav-dropdown-toggle3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .header3-w-navmenu .nav-dropdown-toggle3:not(:last-child) {
    width: 50%;
  }
  .header3-w-navmenu .nav-dropdown-toggle3:last-child {
    width: 100%;
  }
}
.header3-w-navmenu .nav-dropdown-toggle3 .header-navmenu-arrow-svg {
  transition: 0.5s all;
}
.header3-w-navmenu .nav-dropdown-toggle3:hover > .nav-dropdown-list3 {
  opacity: 1;
  visibility: visible;
}
@media (min-width: 768px) {
  .header3-w-navmenu .nav-dropdown-toggle3:hover .header-navmenu-arrow-svg {
    transform: rotateX(180deg);
  }
}
.header3-w-navmenu .dropdown-items.open {
  display: flex;
}
.header3-w-navmenu .nav-dropdown-list3 {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  background-color: white;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 768px) {
  .header3-w-navmenu .nav-dropdown-list3 {
    display: none;
    opacity: 1;
    visibility: visible;
    position: relative;
    width: 100%;
    background-color: unset;
    top: 0;
  }
  .header3-w-navmenu .nav-dropdown-list3.is-open {
    display: block;
  }
}
.header3-w-navmenu .nav-dropdown-list3 .dropdown-items {
  display: flex;
  justify-content: center;
  gap: 80px;
  padding: 30px;
}
@media (max-width: 900px) {
  .header3-w-navmenu .nav-dropdown-list3 .dropdown-items {
    gap: 40px;
  }
}
@media (max-width: 768px) {
  .header3-w-navmenu .nav-dropdown-list3 .dropdown-items {
    flex-direction: column;
    gap: 30px;
    padding: 30px 20px 20px;
  }
}
.header3-w-navmenu .nav-dropdown-list3 a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .header3-w-navmenu .nav-dropdown-list3 a {
    justify-content: flex-start;
  }
  .header3-w-navmenu .nav-dropdown-list3 a::before {
    content: "●";
    color: #FFA800;
    padding-right: 8px;
  }
}
.header3-w-navmenu .nav-dropdown-list3 a img {
  position: relative;
  top: 0;
  padding-right: 6px;
}

@media (max-width: 768px) {
  .wnav-link-wrapper {
    display: none;
  }
}

.wnav-contactLink {
  background-color: #FFA800;
  border-radius: 50rem;
  padding: 20px 30px;
  text-align: center;
  font-size: 1.6rem;
}
@media (max-width: 768px) {
  .wnav-contactLink {
    padding: 15px 0;
  }
}

.header-spmenu-wrapper {
  position: relative;
}
.header-spmenu-wrapper .sp-menubtn-text {
  display: none;
}
@media (max-width: 768px) {
  .header-spmenu-wrapper .sp-menubtn-text {
    display: block;
    position: absolute;
    top: -54px;
    right: 50px;
    z-index: 1;
    font-size: 1.6rem;
  }
}
.header-spmenu-wrapper .header_sp-menubtn {
  top: -50px;
  height: 13px;
  right: 0;
}
.header-spmenu-wrapper .header_sp-menubtn.open span:nth-child(2) {
  display: block;
  top: 6px;
  background: #333;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: 0.9s;
}

.header-link-wrapper {
  max-width: 1000px;
  margin: 50px auto;
}

.header-link-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.header-link-container .pc {
  max-width: 750px;
}
.header-link-container .sp {
  max-width: 250px;
}
.header-link-container .header-link img {
  width: 100%;
}

.h1-title {
  padding: 0.5em;
  color: #010101;
  background: #eaf3ff;
  border-bottom: solid 3px #516ab6;
}

.parts-header-title {
  position: relative;
  background: #dfefff;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  color: #454545;
  margin-bottom: 30px;
}
.parts-header-title::after {
  position: absolute;
  content: "";
  left: -7px;
  top: -7px;
  border-width: 0 0 15px 15px;
  border-style: solid;
  border-color: #fff #fff #a8d4ff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.parts-body {
  padding: 0 60px;
}
@media (max-width: 768px) {
  .parts-body {
    padding: 0 20px;
  }
}

.sec_container {
  max-width: 1000px;
  margin: auto;
  padding: 80px 60px;
}
@media (max-width: 768px) {
  .sec_container {
    padding: 80px 20px;
  }
}

.secTitle-container {
  text-align: center;
}
.secTitle-container .secTitle_en {
  font-family: "Rye", serif;
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
}
.secTitle-container .secTitle_jp {
  font-size: 3.6rem;
  font-weight: 700;
}

.first-contents {
  margin-top: 50px;
}

.sec1_contents-container {
  gap: 30px;
  align-items: flex-start;
}
.sec1_contents-container .concept-contentsImg_container {
  width: 40%;
}
@media (max-width: 768px) {
  .sec1_contents-container .concept-contentsImg_container {
    width: 100%;
    margin-bottom: 20px;
  }
}
.sec1_contents-container .concept-contentsTexts_container {
  width: 50%;
}
@media (max-width: 768px) {
  .sec1_contents-container .concept-contentsTexts_container {
    width: 100%;
  }
}
.sec1_contents-container .concept-contentsTexts_container .concept-contentsText_desc {
  font-size: 2.4rem;
  line-height: 40px;
}

#sec2 {
  background: rgba(139, 192, 191, 0.5);
}

.sec2_contents-container {
  justify-content: space-between;
  align-items: stretch;
}
.sec2_contents-container .point-container {
  width: 30%;
  border-radius: 10px;
  background: #F3FFFF;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  padding: 30px 20px;
}
@media (max-width: 768px) {
  .sec2_contents-container .point-container {
    width: 100%;
    margin-bottom: 20px;
  }
}
.sec2_contents-container .point-container .point-img-container {
  width: 30%;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}
.sec2_contents-container .point-container .point-img-container img {
  vertical-align: middle;
}
.sec2_contents-container .point-contents-title {
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.recommend_container {
  justify-content: space-between;
  gap: 20px;
}
.recommend_container:not(:last-child) {
  margin-bottom: 40px;
}
.recommend_container:nth-child(even) {
  flex-direction: row-reverse;
}
@media (max-width: 768px) {
  .recommend_container:nth-child(even) {
    flex-direction: row;
  }
}
.recommend_container .recommendImg_container {
  width: 40%;
}
@media (max-width: 768px) {
  .recommend_container .recommendImg_container {
    width: 100%;
    margin-bottom: 20px;
  }
}
.recommend_container .recommendContents-container {
  width: 60%;
}
@media (max-width: 768px) {
  .recommend_container .recommendContents-container {
    width: 100%;
  }
}
.recommend_container .recommendContents-container .recommend-contents-title {
  font-size: 2.5rem;
  margin-bottom: 15px;
}
.recommend_container .recommendContents-container .recommend-contents-desc {
  line-height: 30px;
}

#sec4 {
  background: rgba(139, 192, 191, 0.5);
}

.secTitle_jp {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 50px;
  text-align: center;
}

.banner_desc {
  text-align: center;
  margin-bottom: 50px;
  line-height: 30px;
}

.contactBtn-container {
  width: 300px;
  padding: 16px 0;
  text-align: center;
  border-radius: 50px;
  background: #0FA958;
  margin: auto;
  font-size: 2.4rem;
}
.contactBtn-container:hover {
  background-color: rgba(15, 169, 88, 0.8);
}

.companyInfo-container {
  max-width: 700px;
  margin: auto;
}
@media (max-width: 768px) {
  .companyInfo-container {
    width: 100%;
  }
}
.companyInfo-container .table-tr {
  display: block;
}
@media (max-width: 768px) {
  .companyInfo-container .table-tr {
    display: flex;
  }
}
.companyInfo-container .table-tr th {
  padding: 20px 0;
  color: #377472;
  font-weight: 700;
  width: 250px;
  border-bottom: 3px solid #377472;
  border-radius: 50rem;
}
@media (max-width: 768px) {
  .companyInfo-container .table-tr th {
    width: 30%;
    display: flex;
    border-radius: 0;
  }
}
.companyInfo-container .table-tr td {
  padding: 20px 0 20px 40px;
  width: 450px;
  border-bottom: 1px solid #333;
  border-radius: 50rem;
}
@media (max-width: 768px) {
  .companyInfo-container .table-tr td {
    width: 70%;
    padding: 20px 0 20px 20px;
    display: block;
    border-radius: 0;
  }
}

#footer {
  background: rgba(139, 192, 191, 0.5);
  padding: 80px 0 30px;
  text-align: center;
}
@media (max-width: 768px) {
  #footer {
    padding: 40px 0 30px;
  }
}

.footer-nav-list {
  justify-content: center;
}

.footer_nav-item {
  padding: 0 20px;
}
@media (max-width: 768px) {
  .footer_nav-item {
    padding: 10px 20px;
  }
}
.footer_nav-item:not(:last-child) {
  border-right: 1px solid #333;
}

.copyright {
  margin-top: 30px;
  font-size: 1.2rem;
}