@charset "utf-8";
@import "variables";

#header1{
    position: fixed;
    z-index: 9999;
    width: 100%;
}
header{
    height: 80px;
    padding: 0 60px;
    background: #FBF6EE;
    position: relative;
    z-index: 999;
    @include tab{
        padding: 0 20px;
    }
    .header_wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: inherit;
    }
}

.header_logo{
    width: 100px;
    img{
        width: 100%;
    }
}

.nav-list{
    display: flex;
    align-items: center;
    gap: 30px;
    @include sp{
        position: fixed;
        display: block;
        top: -800px;
        right: 0;
        width: 100%;
        height: inherit;
        background: #fbf6ef;
        font-size: 16px;
        box-sizing: border-box;
        z-index: 1;
        transition: 0.9s;
        &.open{
            top: 80px;
        }
    }
    .nav-item{
        position: relative;
        &::before{
            transform-origin: center top;
            transform: scale(0, 1);
            background: #1fa958;
            content: '';
            width: 100%;
            height: 2px;
            position: absolute;
            left: 0;
            bottom: 0;
            margin: auto;
            transition: all 0.3s 0s ease;
            @include sp{
                transform: scale(1, 1);
                content: '';
            }
        }
        &:hover::before{
            transform-origin: center top;
            transform: scale(1, 1);
        }
        &:not(:last-child){
            padding: 10px 0;
            @include sp{
                padding: 30px 20px;
            }
        }
        a{
            font-size: 1.6rem;
            color: #1fa958;
            transition: all 0.3s 0s ease;
            &:hover{
            font-weight: bold;
            }
        }
    }
    .nav-contact{
        background-color: #1fa958;
        border-radius: 50rem;
        padding: 15px 30px;
        transition: all 0.3s 0s ease;
        a{
            color: white;
        }
        &::before{
            content: none;
        }
        &:hover{
            background-color: rgba(31, 169, 88, .8);
            font-weight: bold;
        }
        @include sp{
            margin: 30px 20px;
            text-align: center;
        }
    }
}

// ハンバーガーメニュー

.header_sp-menubtn {
    display: none;
	position: absolute;
	top: 30px;
	right: 20px;
	width: 30px;
	height: 24px;
	z-index: 9999;
	box-sizing: border-box;
	cursor: pointer;
	-webkit-transition: all 400ms;
	transition: all 400ms;
    @include sp {
        display: block;
    }
    span {
        position: absolute;
        width: 100%;
        height: 2px;
        background: #333;
        border-radius: 10px;
        -webkit-transition: all 400ms;
        transition: all 400ms;
        &:nth-child(1) {
            top: 0;
        }
        &:nth-child(2) {
            top: 10px;
        }
        &:nth-child(3) {
            top: 20px;
        }
    }
    &.open span:nth-child(1) {
        background: #333;
        top: 6px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}
.header_sp-menubtn.open span:nth-child(2){
    display: none;
}
.header_sp-menubtn.open span:nth-child(3) {
    top: 6px;
    background: #333;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: 0.9s;
}

.fv-container{
    height: 600px;
    img{
        width: 100%;
        object-fit: cover;
        height: 100%;
        object-position: top;
    }
}

.nabOpen-bg.hamburger-bg-cover{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9997;
    background: rgba(3, 3, 3, 0.5);
    display: block;
}