@charset "utf-8";
@import "variables";

.header3-wrapper{
    height: 80px;
    padding: 0 60px;
    background: #F5F8FA;
    @include tab{
        padding: 0 20px;
        position: fixed;
        width: 100%;
    }
    .header3-container{
        display: flex;
        align-items: center;
        height: inherit;
    }
}

.header3-logoLink{
    width: 100px;
    display: block;
    img{
        width: 100%;
    }
}
.header3-w-navmenu{
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    @include sp{
        position: fixed;
        display: block;
        top: -800px;
        right: 0;
        width: 100%;
        height: inherit;
        background: #F5F8FA;
        box-sizing: border-box;
        z-index: 1;
        transition: 0.9s;
        opacity: 1;
        &.open{
            top: 80px;
        }
    }
    .w-navmenu-container{
        display: flex;
        align-items: center;
        @include sp {
            display: block;
            background-color: #F5F8FA;
            height: 100vh;
        }
        .w-navmenu-item{
            font-size: 1.6rem;
            &:not(:first-child){
                padding-left: 40px;
            }
            display: flex;
            align-items: center;
            cursor: pointer;
            @include sp{
                display: block;
                border-bottom: 1px solid #333;
                margin: 0 20px;
                padding: 30px 0;
                justify-content: space-between;
                &:not(:first-child){
                    padding-left: 0;
                }
            }
            &::before{
                content: unset;
            }
            .nav-item-arrow{
                padding-left: 8px;
                position: relative;
        }
    }
    .sp-trialLink-wrapper{
        display: none;
        @include sp{
            margin: 50px 20px;
            display: block;
            padding: 20px 0;
            text-align: center;
            border: 1px solid #FFA800;
            border-radius: 50rem;
            background-color: #FFA800;
            a{
                font-size: 14px;
            }
        }
    }
    }
    
.dropdown-menu-img-arrow{
    position: absolute;
    top: -10px;
    left: 0;
    @include sp{
        display: none;
    }
}
.nav-dropdown-toggle3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @include sp{
        &:not(:last-child){
            width: 50%;
        }
        &:last-child{
            width: 100%;
        }
    }
    .header-navmenu-arrow-svg{
        transition: 0.5s all;
    }
}
.nav-dropdown-toggle3:hover > .nav-dropdown-list3{
    opacity: 1;
    visibility: visible;
}
@include pc{
    .nav-dropdown-toggle3:hover .header-navmenu-arrow-svg{
            transform: rotateX(180deg);
    }
}
.dropdown-items.open{
    display: flex;
}
.nav-dropdown-list3{
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: white;
    -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -ms-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
      opacity: 0;
      visibility: hidden;
      @include sp{
        display: none;
        opacity: 1;
        visibility: visible;
        position: relative;
        width: 100%;
        background-color: unset;
        top: 0;
        &.is-open{
            display: block;
        }
      }
    .dropdown-items{
        display: flex;
        justify-content: center;
        gap: 80px;
        padding: 30px;
        @include tab{
            gap: 40px;
        }
        @include sp{
            flex-direction: column;
            gap: 30px;
            padding: 30px 20px 20px;
        }
    }
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #333;
        white-space: nowrap;
        @include sp{
            justify-content: flex-start;
            &::before{
                content: '●';
                color: #FFA800;
                padding-right: 8px;
            }
        }
        img{
            position: relative;
            top: 0;
            padding-right: 6px;
        }
    }
}
}

.wnav-link-wrapper{
    @include sp {
        display: none;
    }
}

.wnav-contactLink{
    background-color: #FFA800;
    border-radius: 50rem;
    padding: 20px 30px;
    text-align: center;
    font-size: 1.6rem;
    @include sp{
        padding: 15px 0;
    }
}
// ハンバーガーメニュー
.header-spmenu-wrapper{
    position: relative;
    .sp-menubtn-text{
        display: none;
        @include sp{
            display: block;
            position: absolute;
        top: -54px;
        right: 50px;
        z-index: 1;
        font-size: 1.6rem;
        }
    }
    .header_sp-menubtn{
        top: -50px;
        height: 13px;
        right: 0;
        &.open span:nth-child(2) {
            display: block;
            top: 6px;
            background: #333;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            transform: rotate(45deg);
            transition: 0.9s;
        }
    }
}