@charset "utf-8";
$light-green: #BFE5E8;
$dark-green: #2B6990;


// レスポンシブブレイクポイント
$pc: 1024px; 
$tab: 900px; 
$sp: 768px;
$ssp: 393px;
@mixin pc {
    @media (max-width: ($pc)) {
        @content;
    }
    }
    @mixin tab {
    @media (max-width: ($tab)) {
        @content;
    }
    }
    @mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
    }
    @mixin ssp {
    @media (max-width: ($ssp)) {
        @content;
    }
    }

