@charset "utf-8";
$light-green: #BFE5E8;
$dark-green: #2B6990;


// レスポンシブブレイクポイント
$pc2: 1026px;
$pc: 1024px; 
$tab: 900px; 
$sp: 768px;
$ssp: 393px;
@mixin pc2 {
    @media (max-width: ($pc2)) {
        @content;
    }
    }
@mixin pc {
    @media (min-width: ($sp)) {
        @content;
    }
    }
    @mixin tab {
    @media (max-width: ($tab)) {
        @content;
    }
    }
    @mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
    }
    @mixin ssp {
    @media (max-width: ($ssp)) {
        @content;
    }
    }
    html { 
        font-size: 62.5%;
        color: #333;
        font-family: "Yu Gothic UI";
        @include sp{
            font-size: 50%;
        }
     }

     .flex{
        display: flex;
        @include sp{
            display: block;
        }
     }
     p[class*="desc"] {
        font-size: 16px;
      }